header nav {
    width: calc(100% - 24px);
    padding: .5rem;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    gap: .8rem;
    /* background: linear-gradient(to right, white 15%, #6a6767 85%); */
    border: 4px double #000;
    background-color: #FFF;
}

header nav a {
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
    border: 4px double #ee0000;
    border-radius: 10%;
    padding: .5rem;
    transition: all ease .3s;
    color: #ee0000;
    text-decoration: none;
}

header nav a:nth-child(1) {
    padding: .36rem;
}

header nav a:hover > i > span {
    background-color: white;
    color: red;
}

header nav a:visited {
    color: #ee0000;
}

header nav a:hover {
    text-shadow: none;
    transform: scale(1.05);
    background: #ee0000;
    color: white;
}

/* Mobile area */

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    display: none;
    opacity: 0;
    font-size: 2rem;
    position: fixed;
    z-index: 2;
    width: 100vw;
    text-align: left;
}

#navbar-container > div {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.icon-mainCart > svg{
    color: #000000;
    font-size: 1.1rem;
    padding-left: .5rem;
}

.icon-mainCart > span {
    border-radius: 50%;
    padding: 0.1rem 0.3rem;
    background-color: #ee0000;
    font-weight: 800;
    color: black;
    position: relative;
    left: 6px;
    font-size: .8rem;
    bottom: 8px;
    text-shadow: none;
}

.main-search--container {
    border: 4px double #289b10;
    border-radius: 5px;
}

.main-search--container.-gapNone{
    gap: 0 !important;
}

.main-search--container > div > input {
    font-size: 1.4rem;
    border: none;
    padding: .2rem;
    margin-right: 2px;
}

.main-search--container > div > input:focus {
    outline-color: #ee0000;
}

.main-search--container > div:nth-child(2) {
    display: flex;
}

.main-search--container > div > svg {
    font-size: 2rem;
    border-left: 4px double #289b10;
    background-color: #289b10;
}

.main-search--container > div > svg:hover {
    cursor: pointer;
    background-color: #2bbb0e;
    border-left-color: #2bbb0e;
    transform: scale(1.02);
}

@media (max-width: 800px)
{
    #navbar-container > div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
    }

    #navbar-container > div > a {
        width: 100%;
    }

    .nav-btn {
        display: block;
        opacity: 1;
    }

    #btn-hamburguer {
        background-color: #FFF;
        border: 4px double black;
        border-radius: 10px;
        padding: .4rem .4rem 0 .4rem;
        top: 0;
        left: 0;
    }

    /*#btn-hamburguer::after {
        content: '';
        background-color: white;
        border: 4px double black;
        border-radius: 10px;
        width: 100%;
        position: absolute;
        width: 95vw;
        height: 100%;
    }*/

    .nav-btn.nav-close-btn {
        position: relative;
        width: fit-content;
        margin-left: auto;
        transform: translateX(1rem);
        margin-top: -.9rem;
        margin-bottom: -.9rem;
    }

    .nav-btn.nav-close-btn > svg  {
        background-color: #ff3030;
        border-radius: 50%;
        border: 2px solid black;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;    
        gap: .5rem;
        transition: all ease 1s;
        transform: translateX(-150vw);
        background-color: #000;
        border: 4px double black;
        width: 50vw;
        z-index: 3;
        padding: 1rem;
    }

    header nav a {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: .5rem 0;
    }

    .ajustaTop-responsive{
        margin-top: -1rem;
    }

    header .responsive_nav {
        transform: none;
    }

    .responsive_nav-opacityUm {
        opacity: 1;
    }

    .responsive_nav-opacityZero {
        opacity: 0;
    }
}